.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius-md);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-md);
  border: none;
  cursor: pointer;
}

/* variants */
.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
} 
.secondary {
  background-color: var(--color-white);
  color: var(--color-primary-strong);
  border: 2px solid var(--color-primary);
}



/* ---------- size ---------- */
.sm {
height: 32px;
padding: 0 12px;
font-size: 12px;
}

.md {
height: 44px;
padding: 0 16px;
}

.lg {
height: 58px;
width: 252px; 
}