.pageBackground {
  display: flex;
  padding-inline: var(--page-gutter);
  align-items: stretch;
  flex-direction: column;
}

.pageLayout {
  height: 100%;
  min-width: 0;
  width: 100%;
  padding: var(--page-gutter);
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pageContent {
  display: flex;
  background: var(--color-white);
  width: 100%;
  min-height: 0;
  min-width: 0;
  align-self: stretch;
  border-radius: var(--radius-md);
  padding: var(--card-gutter);
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-lg);
}
