:root {
  /* color */
  --color-background:#f6f4ef;
  --color-primary: #99c08e;
  --color-primary-strong: #578246;
  --color-white: #ffffff;
  --color-danger: #ff4d4f;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #d9d9d9;
  --color-text: #222222;
  --color-text-primary: #818181;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 30px;

  /* font-size */
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 24px;

  /* radius */
  --radius-sm: 8px;
  --radius-md: 16px;

  /* padding */
  --padding-sm: 10px;
  --padding-md: 30px;
  --padding-lg: 24px;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;
}
