.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.studyDetailContainer {
  width: 1200px;
}
.headContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.emojiContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.emojiWrapper {
}
.linkWrapper {
  font-size: 10px;
}
.gapContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.StudyDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.StudyDetailHeadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.studyTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.studyNicknameWrapper {
}
.studyTitleWrapper {
}
.todayButtonContainer {
  display: flex;
  gap: 10px;
}
.todayButtonWrapper {
}
.introPointContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.introContainer {
}
.pointContainer {
}
.labelWrapper {
  color: #818181;
}
.studyIntroduction {
}
/*habits*/
.habitsRecordContainer {
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  overflow: hidden;
}
.habitsRecordInnerContainer {
  height: 400px;
}
.tableContainer {
  max-height: 380px; /* 원하는 고정 높이 (습관이 많아지면 스크롤 발생) */
  overflow-y: auto;
}
.habitTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.habitTrContainer th {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.tbodyContainer {
}

.habitNameCell {
  width: 250px;
  text-align: left;
  padding: 20px;
}

.habitStatusCell {
  text-align: center;
  vertical-align: middle;
}
.noHabitCell {
  text-align: center;
  padding: 40px 0;
  color: #999;
  font-size: 16px;
}
