.latestStudyContainer {
  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  padding: 40px;
}
.homeTitlewrapper {
  font-size: 24px;
  font-weight: 600;
}

.cardWapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
