.wrapper {
  width: 696px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  padding: 30px 24px 40px 24px;
}

.wrapperCreate {
  height: 1171px;
}

.wrapperEdit {
  height: 930px;
}