.wrapper {
  width: 696px;
  height: 1171px;
  border-radius: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-direction: column;
  background: #fff;
  padding: 24px 24px 40px 24px;
  border-radius: 20px;
  
}
